:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

.playarea {
  border: 5px solid;
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(100, 5px);
  grid-template-rows: repeat(100, 5px);
  overflow: hidden;
}

button {
  margin: 15px;
  padding: 5px;
  font-family: Inter;
}



