:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.playarea {
  border: 5px solid;
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(50, 10px);
  grid-template-rows: repeat(50, 10px);
}



